@import "../../scss-variables";

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  //margin: 2.5rem 2.5rem 0 2.5rem;
  padding: 2em 2em 0 2em;
  .icon {
    width: 34px;
    height: 31px;
    cursor: pointer;
    margin-top: 15px;
  }
  .logo {
    width: 80px;
    height: 80px;
  }
  nav {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    width: 75%;
    height: 100vh;
    padding: 1em;
    .icon-close {
      float: right;
      width: 34px;
      height: 31px;
      margin-top: 2.5em;
      margin-right: 2em;
      cursor: pointer;
    }
  }
  ul {
    margin-top: 10em;
    list-style-type: none;
  }
  li {
    a {
      display: block;
      font-family: "Barlow Condensed", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 19px;
      letter-spacing: 2.7px;
      color: #ffffff;
      text-decoration: none;
      padding: 0.5em;
      text-transform: uppercase;
      span {
        font-weight: bolder;
        padding-right: 0.3em;
      }
      &:hover {
        font-weight: bolder;
        border-bottom: 2px solid $white-color;
        width: 85%;
        opacity: 0.6;
      }
    }
  }
}
