@import "../../../scss-variables";
.home {
  background: url("../../../assets/home/background-home-mobile.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow-y: scroll;

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    width: 90%;
    margin-right: auto;
    margin-top: 48px;
    h3 {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 1em;
      line-height: 1.2em;
      text-align: center;
      letter-spacing: 2.7px;
      color: $light-color;
      //margin-top: 0px;
    }
    h1 {
      margin-top: 0px;
      font-family: "Bellefair", sans-serif;
      font-size: 5em;
      line-height: 100px;
      text-align: center;
      letter-spacing: 2.7px;
      color: $white-color;
      font-style: normal;
      font-weight: normal;
    }
    p {
      margin-top: 0px;
      font-family: "Barlow", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      color: $light-color;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: $dark-color;
      .explore-button {
        background-color: $white-color;
        border-radius: 50%;
        width: 8.2em;
        height: 8.2em;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 1.25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0.7em;
        font-family: "Bellefair", sans-serif;
        &:hover {
          /*  background-clip: content-box;
          border: 40px solid #808080; */
          opacity: 0.5;
          mix-blend-mode: normal;
          background-color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (min-width: 641px) {
  .home {
    background: url("../../../assets/home/background-home-tablet.jpg") no-repeat
      center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
    .home-container {
      h3 {
        margin-top: 3em;
      }
      width: 28.2em;
      a {
        .explore-button {
          margin-top: 4.5em;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media only screen and (min-width: 961px) {
  .home {
    background: url("../../../assets/home/background-home-desktop.jpg")
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: visible;
    height: 100vh;
    overflow-y: scroll;
    .home-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 80%;
      .intro {
        //margin-left: 8em;
        width: 28.1em;
        h3 {
          font-size: 28px;
          line-height: 34px;
          letter-spacing: 4.725px;
        }
        h1 {
          font-size: 150px;
          line-height: 172px;
        }
        p {
          margin-top: -1em;
          font-size: 18px;
          line-height: 32px;
        }
      }

      .explore-buttons {
        a {
          .explore-button {
            /*  width: 17.1em;
            height: 17.1em; */
            font-size: 32px;
            &:hover {
              opacity: 1;
              box-shadow: 0 0 0 2em rgba(255, 255, 255, 0.1);
            }
          }
        }
      }
    }
  }
}
