@import "../../../scss-variables";
.home {
  background: url("../../../assets/home/background-home-mobile.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  overflow: scroll;

  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    width: 90%;
    margin-right: auto;
    margin-top: 48px;
    h3 {
      font-family: "Barlow Condensed", sans-serif;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 2.7px;
      color: $light-color;
      margin-top: 0px;
    }
    h1 {
      margin-top: 0px;
      font-family: "Bellefair", sans-serif;
      font-size: 80px;
      line-height: 100px;
      text-align: center;
      letter-spacing: 2.7px;
      color: $white-color;
      font-style: normal;
      font-weight: normal;
    }
    p {
      margin-top: 0px;
      font-family: "Barlow", sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      color: $light-color;
      text-align: center;
    }
    a {
      text-decoration: none;
      color: $dark-color;
      .explore-button {
        background-color: $white-color;
        border-radius: 50%;
        width: 130px;
        height: 130px;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 1.25px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 0.2em;
        font-family: "Bellefair", sans-serif;
        &:hover {
          /*  background-clip: content-box;
          border: 40px solid #808080; */
          opacity: 0.5;
          mix-blend-mode: normal;
          background-color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
}

/* @media screen and (device-aspect-ratio: 40/71) {
  .home {
    height: auto;
  }
} */
